<h2>Custom</h2>
<ul>
    <h3>Css variables</h3>
    <li>--dark-shadow: <span id="ds">#b8b8b8</span></li>
    <li>--light-shadow: <span id="ls">#fff</span></li>
    <li>--dark-gradient: <span id="dg">#d1d1d1</span></li>
    <li>--light-gradient: <span id="lg">#fff</span></li>
    <li>--distane: <span id="dis">2px</span></li>
    <li>--blur: <span id="bl">2px</span></li>
</ul>
<article>
    <h4>Example</h4>
    <input class="pressed" value="#b8b8b8" id="dark-shadow" type="text" placeholder="dark-shadow">
    <input class="pressed" value="#fff" id="light-shadow" type="text" placeholder="light-shadow">
    <input class="pressed" value="#d1d1d1" id="dark-gradient" type="text">
    <input class="pressed" value="#fff" id="light-gradient" type="text">
    <input class="pressed" value="2" id="distance" type="number">
    <input class="pressed" value="2" id="blur" type="number">
    <button class="btn-primary" id="save">save</button>
</article>
